body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/poppins/poppins-v15-latin-regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/lato/lato-v17-latin-regular.woff) format('woff');
}
@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icon-fonts/icomoon.eot?hfn6h8');
  src:  url('./fonts/icon-fonts/icomoon.eot?hfn6h8#iefix') format('embedded-opentype'),
    url('./fonts/icon-fonts/icomoon.ttf?hfn6h8') format('truetype'),
    url('./fonts/icon-fonts/icomoon.woff?hfn6h8') format('woff'),
    url('./fonts/icon-fonts/icomoon.svg?hfn6h8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-miner:before {
  content: "\e900";
  color: #00f0ff;
}
.icon-logo:before {
  content: "\e901";
  color: #f2f2f2;
}
.icon-loader:before {
  content: "\e902";
  color: #fff;
}
.icon-asteroid:before {
  content: "\e903";
  color: #fff;
}
.icon-miner:before {
  content: "\e904";
  color: #38d9a9;
}
.icon-delete:before {
  content: "\e905";
}
.icon-planet:before {
  content: "\e906";
  color: #fff;
}
